body {
    font-family: 'Merriweather Sans', sans-serif;
    background-image: url(images/pattern.svg);
}

main {
    margin-top: 105px;
}

h2, .navbar-collapse, .placeOrder, footer, #form {
    text-align: center;
}

#nav-bar {
    font-family: Source Sans Pro, sans-serif;
    background-color: rgb(124, 99, 82);
}

#header-img {
    width: 7em;
}

h2 {
    font-family: Source Sans Pro, sans-serif;
    padding-top: 0.7em;
    margin-bottom: 0.5em;
}

#ourBeansContainer, #pricingContainer, #contactUsContainer {
    min-height: 93vh;
}

#pricingContainer {
    background-color: rgba(215, 208, 203, 0.4);
}

footer {
    color: rgb(90, 90, 90);
    font-size: 0.7em;
    background-color: rgba(215, 208, 203, 0.4);
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.card-title {
    display: inline;
}

.wholesalePrice {
    color: white;
    background-color: #ff6200;
    float: right;
}

#form {
    max-width: 25em;
    margin: 0 auto;
}

input {
    margin-bottom: 10px;
}

#message {
    padding-bottom: 8em;
}

a.anchor {
    display: block;
    position: relative;
    top: -105px;
    visibility: hidden;
}